*-debug.log
*-error.log
/.vscode
/.nyc_output
/dist
/lib
/tmp
node_modules
/coverage
/.idea
/test/**/*.yaml
/bin/example/bin/core-functions-toolbelt/*
!/bin/example/bin/core-functions-toolbelt/package.json
/functions
.DS_Store
/local_test
