*-debug.log
*-error.log
/.vscode
/.nyc_output
/dist
/lib
/tmp
/yarn.lock
node_modules
/coverage
/.idea
/test/**/*.yaml
/bin/example/bin/lp-faas-toolbelt/*
!/bin/example/bin/lp-faas-toolbelt/package.json
!/bin/example/bin/lp-faas-toolbelt/package-lock.json
/functions
.DS_Store
